<div class="col-lg-12">
	<h1>Auction</h1>

	<div class="col-md-4" >

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Player Stats <span class="glyphicon glyphicon-log-out pull-right" aria-hidden="true" style="font-size: 12px;"
				ng-click="logout()"></span></h3>

			</div>
			<div class="panel-body">
				Name: {{username}}
				<br/>
				Coins: {{usercoins}}
			</div>
		</div>

	</div>

	<div class="col-md-4" >

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Inventory</h3>
			</div>
			<div class="panel-body list-group">

				<div class="row list-group-item" ng-repeat="inventory in inventories">
					<div class="col-md-4"  style="font-size: 24px;">
						<span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 24px;"></span>
						<br/>
						{{inventory.itemname}}
					</div>
					<div class="col-md-4">
						Quantity
						<br/>
						{{inventory.quantity}}
					</div>
					<div class="col-md-4" style="text-align: center;">
						<span class="glyphicon glyphicon-bullhorn" aria-hidden="true"
						style="font-size: 24px;"></span>

						<button type="button" class="btn btn-default btn-lg" ng-click="newModal(inventory)">
							Auction
						</button>
					</div>
				</div>

			</div>
		</div>

	</div>

	<div class="col-md-4" >

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Current Auction</h3>
			</div>
			<div class="panel-body">

				<div class="alert alert-info" role="alert" ng-show="!auction">
					No auction at the moment.
				</div>

				<div ng-show="auction" class="row">

					<div class="col-md-12">
						Seller: {{auction.user.username}}
						<br/>
					</div>

					<div class="col-md-6"  style="font-size: 24px;">
						<span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 24px;"></span>
						<br/>
						{{auction.item.itemname}}
					</div>
					<div class="col-md-6">
						Quantity
						<br/>
						{{auction.quantity}}
					</div>
					
					<div class="col-md-12" >
						Time left: <h3><timer interval="1000" end-time="auction.end">{{minutes}}:{{seconds}}</timer></h3>
						<hr/>
					</div>
					
					<div class="col-md-12" ng-show="auction.bidwin">
						Winning bid: {{auction.bidwin}}
						<hr/>
					</div>

					<div class="col-md-12"  ng-show="!auction.bidwin">
						Minimum bid: {{auction.bidmin}}
						<hr/>
					</div>

					<div class="col-md-12">
						<form class="center" role="form" name="loginForm" ng-submit="new()">

							<fieldset class="registration-form">
								<div class="form-group">
									<input type="number" id="bidwin" name="bidwin" ng-model="bidwin" placeholder="Bid"
									class="form-control" required="required" min="{{auction.min}}">
									<span ng-show="loginForm.bidwin.$invalid && loginForm.bidwin.$dirty"> Bid is required and the min value is {{auction.min}}. </span>
								</div>

							</fieldset>

							<fieldset class="registration-form">
								<div class="form-group">
									<button type="button" class="btn btn-default btn-md" ng-click="placebid()"  ng-disabled="loginForm.$invalid">
										<span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Place a bid
									</button>
								</div>

							</fieldset>
						</form>
					</div>

				</div>
			</div>
		</div>

	</div>

</div>

