

<div class="col-lg-12">
	<h1>Welcome</h1>
	
	
	<div class="col-md-10 col-xs-10" id="#entrar">
	
		<h3>Enter with your username</h3>
		<form class="center" role="form" name="loginForm" ng-submit="login()">
	
			<fieldset class="registration-form">
				<div class="form-group">
					<input type="text" id="username" name="username" ng-model="usuario.username" placeholder="E-mail" class="form-control" required="required">
					<span ng-show="loginForm.username.$invalid && loginForm.username.$dirty">
				     Username is required.
				   </span>
				</div>
				<div class="form-group">
					<button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-primary btn-md btn-block">
						Enter
					</button>
				</div>
			</fieldset>
		</form>
	</div>

</div>

   
