<div class="modal-header">
	<h3 class="modal-title">New Auction</h3>
</div>
<div class="modal-body">
	<form class="center" role="form" name="loginForm" ng-submit="new()">

		<fieldset class="registration-form">
			<div class="form-group">
				<input type="number" id="quantity" name="quantity" ng-model="auction.quantity" placeholder="quantity"
				class="form-control" required="required" max="{{item.quantity}}">
				<span ng-show="loginForm.quantity.$invalid && loginForm.quantity.$dirty"> Quantity is required and the max value is {{item.quantity}}. </span>
			</div>
			
		</fieldset>
		
		<fieldset class="registration-form">
			<div class="form-group">
				<input type="number" id="bidmin" name="bidmin" ng-model="auction.bidmin" 
				
				placeholder="Minimum Bid" class="form-control" required="required">
				<span ng-show="loginForm.bidmin.$invalid && loginForm.bidmin.$dirty"> Minimum Bid is required. </span>
			</div>
			
		</fieldset>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok()"  ng-disabled="loginForm.$invalid">
		Start Auction
	</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">
		Cancel
	</button>
</div>